<% @quizzes.each do |quiz| %>
  <h2><%= link_to quiz.title, quiz_question_path(quiz, 1) %></h2>
  <p><%= quiz.score(quiz) %> %</p>
  <% @scores.each do |s| %>
    <% if s.quiz_id === quiz.id %>
      <li>
        Answer: <%= s.answer %>
      </li>
    <% end %>
  <% end %>
<% end %>




